Port 2222
ListenAddress 0.0.0.0
Protocol 2

HostKey /etc/ssh/hostkeys/ssh_host_ed25519_key
HostKey /etc/ssh/hostkeys/ssh_host_rsa_key

PermitRootLogin no
PasswordAuthentication no
KbdInteractiveAuthentication no
ChallengeResponseAuthentication no
PubkeyAuthentication yes
AuthenticationMethods publickey
PermitEmptyPasswords no

AllowUsers agent
AuthorizedKeysFile /etc/ssh/authorized_keys/%u

UsePAM no
# Non-interactive remote commands do not source .zshrc. Keep the tool
# environment aligned with the base image so `ssh host codex`, editor probes,
# and asdf-managed commands work as well as interactive sessions.
SetEnv ASDF_DATA_DIR=/home/agent/.asdf
SetEnv CARGO_HOME=/opt/cargo
SetEnv NPM_CONFIG_PREFIX=/home/agent/.npm-global
SetEnv RUSTUP_HOME=/opt/rustup
SetEnv PATH=/home/agent/.local/bin:/home/agent/.cargo/bin:/home/agent/.asdf/shims:/home/agent/.asdf/bin:/home/agent/.npm-global/bin:/home/agent/go/bin:/opt/cargo/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin
X11Forwarding no
AllowTcpForwarding yes
GatewayPorts no
PermitTunnel no
AllowAgentForwarding yes
TCPKeepAlive yes
ClientAliveInterval 60
ClientAliveCountMax 3

Subsystem sftp internal-sftp
